.idea
.DS_Store
files/mysite/settings.py
files/run.sh
files/mysite/urls.py
files/TextVisualize/LinguisticEthnography/EthnolingClasses.pl
*.pyc
files/DB_Handling/db_account.txt
files/clean_post.py
files/emails/email_account.txt 
files/Qualtrics/account.txt

